<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ap Firmware Report</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
         <div class="card">
            <div class="circle">
                <h2>Sanity</h2>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quos ad quas autone sunt, repellat esse est, molestias error.</p>
                <a href="http://127.0.0.1:5000/overview">Read More</a>
            </div>
        </div>

        <div class="card">
            <div class="circle">
                <h2>Scale</h2>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quos ad quas autone sunt, repellat esse est, molestias error.</p>
                <a href="#">Read More</a>
            </div>
        </div>

        <div class="card">
            <div class="circle">
                <h2>Features</h2>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quos ad quas autone sunt, repellat esse est, molestias error.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</body>
</html>