<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ Label }} Details</title>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <table class="content-table">
            <thead>
                <tr class="table__header">
                {% for header in ['Label','Total Tests','Passed','Failed','Logs'] %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr class="table__row">
                {% for param in params %}
                <td class="table__cell">{{ param }}</td>
                {% endfor %}
            </tr>
            </tbody>

        </table>
    </body>

</html>